@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');


*{margin:0; padding:0;font-family: "Noto Sans KR", sans-serif;}
a{text-decoration:none; color:#333;}
ul,li{list-style:none;}
.cf::after{
    content:'';
    display:block;
    clear:both;
 }

 body{
    overflow-x: hidden;
    /* 반응형을 만들 때는 꼭 가로 스크롤바를 가려야 함. */
 }

 header{
    width: 100%;
    height: 165px;
    border-top: 5px solid #009223;
    position: relative;
    z-index: 10;
 }
 #h_top{
    width: 1200px;
    height: 90px;
    margin: 0 auto;
 }
 #h_top > a{
    position: absolute;
    width: 202px;
    height: 40px;
    border: 1px solid transparent;
    left: 50%;
    transform: translate(-50%, 0);
    top: 25px;
 }
 #h_top > a img{
    display: block;
    width: 100%;
 }
 #h_top ul{
    /* position: absolute;
    right: 0;
    top: 30px; */

    float: right;
    margin-top: 30px;
 }
 #h_top ul li{
    float: left;
    margin-left: 15px;
 }
 #h_top ul li a{
    display: block;
    height: 20px;
    padding: 5px 13px;
 }
 #h_top ul li a.earth{
    width: 32.5px;
    text-indent: -9999px;
    padding: 5px 0;
    background: url(../images/icon_global_subway.png) no-repeat center;
 }


 nav{
    width: 100%;
    height: 75px;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
 }
 nav > ul {
    width: 1200px;
    height: 75px;
    margin: 0 auto;
    text-align: center;
    padding: 0 100px;
    box-sizing: border-box;
    position: relative;
    z-index: 15;
 }
 nav > ul > li{
    float: left;
 }
 nav >  ul > li > a{
    /* 대표메뉴 a */
    display: block;
    width: 200px;
    height: 75px;
    font-size: 18px;
    font-weight: bold;
    line-height: 75px;
 }
 nav ul ul a{
    font-size: 15px;
    color: #666;
    padding: 8px 0 9px;
    display: block;
    letter-spacing: -0.05;   
 }
nav ul > li:hover > a{
   color: #009223;  
}
 nav ul li ul li{
    width: 200px;
 }
 nav ul li ul{
    position: absolute;
    top: 75px;
    text-align: center;
    height: 0;
    overflow: hidden;
    transition: all 0.2s;
    padding-top: 20px;
 }
 nav ul:hover li ul{
    height: 230px;
 }
 nav ul > li > ul > li:hover > a{
    color: #009223;  
    text-decoration: underline;
 }

.shadow{
    position: absolute;
    left: 0;
    top: 165px;
    /* header가 relative 이므로 위에서 부터 165px 떨어진 곳에 .shadow가 펼쳐져야 함. */
    background: #fff;
    width: 100%;
    height: 0;
    transition: all 0.2s;
    /* transition은 양쪽에 모두 다 줘야함. */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
nav > ul:hover + .shadow{
    height: 250px;
    transition: all 0.2s;
    /* transition은 양쪽에 모두 다 줘야함. */
}


 section{
    width: 100%;
 }
 .slide{
    height: 440px;
    width: 100%;
    position: relative;
 }
 .slide .sg{
    width: 1920px;
    height: 440px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
 }
 .slide .sg a{
    width: 1920px;
    height: 440px;
    position: absolute;
    left: 0;
 }
 .slide .sg a.i_01{
    background: url(../images/00_써브웨이_main_02_20200427112753722.jpg) no-repeat center;
 }
 .slide .sg a.i_02{
    left: 100%;
    background: url(../images/main_pc_1920x440_20200427112254027.jpg) no-repeat center;
 }
 .slide .sg a.i_03{
    left: 200%;
    background: url(../images/main_pc_1920x440_20200528061058713.jpg) no-repeat center;
 }
 .slide .sg a.i_04{
    left: 300%;
    background: url(../images/main_pc_1920x440_20200529050816305.jpg) no-repeat center;
 }

 .slide .dot{
    position: absolute;
    right: 20%;
    bottom: 50px;
    width: 100px;
    height: 10px;
 }
 .slide .dot a{
    display: block;
    float: left;
    text-indent: -9999px;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #ddd;
    border-radius: 5px;
 }
 .slide .dot a.on{
    background: #ffc300;
    width: 30px;
 }

 #sub{
    width: 1200px;
    margin: 0 auto;
    height: 80px;
    position: relative;
 }
 #sub .sub_wrap{
    position: absolute;
    right: 30px;
    top: -30px;
 }
 #sub .sub_wrap a{
    display: block;
    width: 300px;
    height: 80px;
    float: left;
    font-size: 22px;
    font-weight: bold;
    box-sizing: border-box;
    padding-top: 20px;
    border: 1px solid transparent;
 }
 .sw_left{
    padding-left: 130px;
    background: #ffce32 url(../images/icon_map.png) no-repeat 35% 50%;
    border-radius: 30px 0px 0px 0px;
    color: #292929;
 }
 .sw_right{
    padding-left: 100px;
    background: #009223 url(../images/icon_franchise.png) no-repeat 20% 50%;
    border-radius: 0px 0px 30px 0px;
    color: #fff;
 }


 #section2{
    width: 100%;
 }
 .s02_wrap{
    width: 1200px;
    height: 560px;
    margin: 0 auto;
    padding-top: 60px;
    position: relative;
 }

 .menu_top{
    width: 1200px;
    height: 77px;
    background: url(../images/bul_tit.png) no-repeat 0 50%;
 }
 .menu_top h3{
    height: 77px;
    padding: 12px 0 0 25px;
    font-size: 40px;
    box-sizing: border-box;
    width: 50%;
    float: left;
 }
 .menu_top .mt_right{
    position: absolute;
    top: 90px;
    right: -20px;
 }
 .menu_top .mt_right li{
    float: left;
    padding-right: 25px;
    margin-right: 23px;
    position: relative;
 }
 .menu_top .mt_right li.on a{
    color: #009223;
 }
 .menu_top .mt_right li::after{
    content: " ";
    width: 1px;
    height: 15px;
    background: #333;
    position: absolute;
    right: 0;
    top: 3px;
 }
 .menu_top .mt_right li:nth-child(4)::after{
    display: none;
 }
 .menu_top .mt_right li a{
    display: block;
    font-size: 16px;
    color: #666;
    font-weight: bold;
 }
 .menu_wrap .menu{
    width: 1200px;
    height: 320px;
    margin-top: 33px;
    overflow: hidden;
    padding-left: 30px;
 }
 .menu ul li{
    width: 260px;
    height: 320px;
    float: left;
    padding: 0 5px;
    text-align: center;
    margin-right: 30px;
    position: relative;
 }
 .menu ul li::after{
    content: " ";
    width: 98px;
    height: 98px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: url(../images/btn_more.png) no-repeat 0 0;
    margin: -22px 0 0 -22px;
    opacity: 0;
 }
 .menu ul li:hover::after{
    opacity: 1;
 }
/* .menu ul li:nth-child(1){
    margin-right: 0;
} */
.menu ul li img{
    width: 100%;
    height: 182px;
}
.menu ul li p{
    font-size: 13px;
    color: #999;
    letter-spacing: -0.04em;
}
.menu ul li strong{
    display: block;
    margin: 2px 0 10px;
    text-align: center;
}
.menu ul li:hover img{
    width: 350px;
    height: 238px;
}
.menu ul li:hover strong{
    font-size: 22px;
    margin-top: -10px;
}
.menu ul li:hover p {
    opacity: 0;
}

.s02_wrap a.prev{
    display: block;
    position: absolute;
    top: 50%;
    left: -150px;
    width: 50px;
    height: 50px;
    text-indent: -9999px;
    /* border: 1px solid #333; */
    background: url(../images/icon_event_slider_arr.png) no-repeat 0 0;
}
.s02_wrap a.prev:hover{
    background-position: 0 -50px;
}
.s02_wrap a.next{
    display: block;
    position: absolute;
    top: 50%;
    right: -150px;
    width: 50px;
    height: 50px;
    text-indent: -9999px;
    /* border: 1px solid #333; */
    background: url(../images/icon_event_slider_arr.png) no-repeat -50px 0;
}
.s02_wrap a.next:hover{
    background-position: -50px -50px;
}


#section03{
    width: 100%;
    height: 790px;
    background: url(../images/bg_content.gif) repeat 0 0;
}
.s03_wrap{
    width: 1300px;
    height: 790px;
    margin: 0 auto;
    padding: 80px 0;
    box-sizing: border-box;
}
.content{
    width: 100%;
    height: 300px;
}
.cont_01{
    float: left;
    width: 400px;
    height: 100%;
    background: url(../images/bg_utilization.png) no-repeat 0 0;
    margin-left: 55px;
    position: relative;
}
.cont_02{
    float: left;
    width: 825px;
    height: 100%;
    background: url(../images/img_subway_history.png) no-repeat 0 0;
    position: relative;
}
.con_top h3{
    height: 80px;
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    line-height: 40px;
    letter-spacing: -0.03em;
}
.cont_01 h3{
    position: absolute;
    left: 39px;
    top: 38px;
}
.cont_02 h3{
    position: absolute;
    left: 410px;
    top: 38px;
}

.con_top a{
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 15px;
    border: 2px solid #fff;
    border-radius: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}
.cont_01 a{
    position: absolute;
    left: 41px;
    bottom: 42px;
}
.cont_02 a{
    position: absolute;
    left: 410px;
    bottom: 42px;
}


.con_bott{
    margin-top: 30px;

}
.cont_03{
    float: left;
    width: 870px;
    height: 100%;
    background: #fff;
    margin-left: 55px;
    position: relative;
    border-radius: 30px 0 30px 0;
}
.cont_03 .new{
    float: left;
    margin-top: 75px;
    margin-left: 60px;
}
.cont_03 .new h2{
    padding: 10px 0 10px 30px;
    font-size: 36px;
    background: url(../images/bul_tit.png) no-repeat 0 50%;
}
.cont_03 .new p{
    font-size: 16px;
    color: #666;
    margin-top: 10px;
    text-align: center;
}
.cont_03 ul{
    float: left;
    margin-top: 76px;
    margin-left: 100px;
}
.cont_03 ul li:first-child a{
    margin-top: 0;
}
.cont_03 ul li a{
    display: inline-block;
	font-size: 16px;
	color:#292929;
	letter-spacing: -0.04em;
	margin-top:21px;
	font-weight:bold;
}
.cont_03 ul li a:hover{
    color: #009223;
    text-decoration: underline;
}
.cont_03 ul li.more a{
    color:#999;
	font-size: 15px;
	padding: 33px 0 8px;
	margin-top:0;
	text-decoration:none;
}

.cont_04{
    float: left;
    width: 270px;
    height: 100%;
    margin-left: 30px;
    background: url('../images/270X300\ \(1\)_20230829025721267.jpg') no-repeat;
    border-radius: 0 30px 0 30px;
    position: relative;
}


/* 하단 */
#section4{
    width: 100%;
}
.s04_wrap{
    width: 1040px;
    height: 150px;
    position: relative;
    margin: 0 auto;
}
.quick_menu li{
    float: left;
    width: 205px;
    height: 70px;
    margin-top: 40px;
    margin-right: 70px;
}
.quick_menu li:nth-child(4){
    margin-right: 0;
}
.quick_menu li div{
    position: absolute;
    width: 70px;
    height: 70px;
}
.quick_menu li div.icon1{
    background: url(../images/icon_quickmenu.png) no-repeat 0 0;
}
.quick_menu li div.icon2{
    background: url(../images/icon_quickmenu.png) no-repeat -70px 0;
}
.quick_menu li div.icon3{
    background: url(../images/icon_quickmenu.png) no-repeat -140px 0;
}
.quick_menu li div.icon4{
    background: url(../images/icon_quickmenu.png) no-repeat -210px 0;
}

.quick_menu li strong{
    float: left;
    margin-left: 90px;
    font-size: 18px;
    margin-top: 12px;
}
.quick_menu li span{
    float: left;
    margin-left: 90px;
    font-size: 13px;
    width: 130px;
    margin-top: 6px;
    color: #777;
}


/* 푸터 */
#footer{
    width: 100%;
    position: relative;
    background-color: #292929;
    color: #777;
    padding: 22px 0;
}
#footer::after{
    content: " ";
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    height: 1px;
    background: #666;
}
.f_wrap{
    width: 1200px;
    height: 106px;
    position: relative;
    margin: 0 auto;
    padding-left: 20px;
}
.f_top{
    width: 100%;
}
.f_top li{
    float: left;
    font-size: 14px;
    padding-right: 30px;
}
.f_top .bold{
    font-weight: bold;
    font-size: 15px;
}

.f_bottom{
    float: left;
    width: 100%;
    margin-top: 40px;
}
.f_bottom li{
    float: left;
    font-size: 13px;
    padding-right: 20px;
}
.f_bottom li::after{
    content: '';
    position: absolute;
    top: 65px;
    width: 2px;
    height: 10px;
    background-color: #666666;
}
.f_bottom li:nth-child(1)::after{
    left: 250px;
}
.f_bottom li:nth-child(2)::after{
    left: 420px;
}
.f_bottom li:nth-child(3)::after{
    left: 547px;
}
.f_bottom li:nth-child(4)::after{
    display: none;
}

.f_copy{
    float: left;
    font-size: 13px;
    margin-top: 5px;
}

.f_icon{
    position: absolute;
    right: 60px;
    bottom: 0;
    width: 130px;
    height: 50px;
}
.f_icon a{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    /* transition: all 0.3s; */
}

.f_icon a.f_instar{
    background: url(../images/icon_sns_instar.png) no-repeat 0 0;
}
.f_icon a.f_facebook{
    background: url(../images/icon_sns_facebook.png) no-repeat 0 0;
}
.f_icon a.f_instar:hover{
    background: url(../images/icon_sns_instar.png) no-repeat -50px 0;
}
.f_icon a.f_facebook:hover{
    background: url(../images/icon_sns_facebook.png) no-repeat -50px 0;
}
