*{
    margin: 0;
    padding: 0;
}
.bigbox{
    width: 500px;
    height: 500px;
    position: relative;
    border:  1px solid #333;
    margin: 100px auto 0;
}
.face{
    position: absolute;
    width: 500px;
    height: 500px;
    border: 10px solid #333;
    background-color: #6495ed;
    border-radius: 50%;
    box-sizing: border-box;
}
.eyeball.left{
    width: 25px;
    height: 25px;
    background-color: #333;
    border: 1px solid #333;
    border-radius: 50%;
    position: absolute;
    left: 100px;
    top: 200px;
}
.eyeball.right{
    width: 25px;
    height: 25px;
    background-color: #333;
    border: 1px solid #333;
    border-radius: 50%;
    position: absolute;
    right: 100px;
    top: 200px;
}
.nose{
    width: 45px;
    height: 45px;
    background-color: #333;
    border: 1px solid #333;
    border-radius: 50%;
    position: absolute;
    bottom: 160px;
    left: 50%;
    margin-left: -23px;
    z-index: 1;
}

.mouth{
    width: 120px;
    height: 100px;
    border: 5px solid #333;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    bottom: 80px;
}
.mouth.left{
    left: 145px;
    transform: rotate(-45deg);
}
.mouth.right{
    right: 145px;
    transform: rotate(45deg);
}

.cheek{
    width: 150px;
    height: 150px;
    position: absolute;
    /* border: 1px solid red; */
}
.cheek.left{
    left: 60px;
    bottom: 50px;
}
.cheek.right{
    right: 50px;
    bottom: 50px;
}
.line{
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: #333;
    top: 40px;
    left: 20px;
}

.left1{
    transform-origin: right center;
    transform: rotate(20deg);
}
.left2{
    top: 70px;
    transform: rotate(0deg);
}
.left3{
    transform-origin: right center;
    top: 100px;
    transform: rotate(-20deg);
}

.right1{
    transform-origin: left center;
    transform: rotate(-20deg);
}
.right2{
    top: 70px;
    transform: rotate(0deg);
}
.right3{
    transform-origin: left center;
    top: 100px;
    transform: rotate(20deg);
}

h1{
    text-align: center;
    margin-top: 50px;
}