/* *{
    margin: 0;
    padding: 0;
} */
#container{
    margin: 0 auto;
    width: 1000px;
    overflow: hidden;
    padding: 20px;
    border: 1px solid #999;
    position: relative;
}
#header{
    height: 120px;
    border: 1px solid #999;
    margin-bottom: 20px;
}
#header h1{
    line-height: 80px;
    margin: 20px;
}
#sidebar{
    width: 270px;
    height: 200px;
    border: 1px solid #999;
    float: right;
    padding: 20px;
    background-color: #eee;
}
#contents{
    width: 600px;
    height: 250px;
    border: 1px solid #999;
    padding: 20px;
}
#footer{
    border: 1px solid #999;
    margin-top: 20px;
    padding: 20px;
}