*{
    margin: 0;
    padding: 0;
    font-family: 'SUITE Variable', sans-serif;
}
ul, li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
.cf::after{
    content: ' ';
    display: block;
    clear: both;
}

#wrap{
    width: 100%;
}
#content02{
    width: calc(100% - 14rem);
    margin: 0 auto;
    padding: 6.25rem 0;
    /* padding: 100px 0; */
}

/* 타이틀 */
#content02 .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 3.375rem;
    /* margin-bottom: 54px; */
}

#content02 .title h3{
    font-size: 3.75rem;
    /* font-size: 60px; */
    font-weight: 800;
}

#content02 .title > a.btn_arrow{
    padding: 1rem 1.5rem;
    /* padding: 16px 24px; */
    font-size: 1.125rem;
    /* font-size: 18px; */

    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    border: solid 1px #d4d4d4;
    border-radius: 30px;
    box-sizing: border-box;
}
#content02 .title > a.btn_arrow > img{
    width: 16px;
    height: 16px;
    margin-left: 8px;
}

/* 탑메뉴 */
.topMenu{
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}
.topMenu ul{
    display: flex;
    align-items: center;
    width: 100%;
}
.topMenu ul li a{
    color: #d4d4d4;
    font-size: 1.5rem;
    font-weight: bold;
}
.topMenu ul li.on a{
    position: relative;
    color: #111;
}
.topMenu ul li::after{
    content: " ";
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0.5rem 1rem;
    border-radius: 100%;
    background-color: #d4d4d4;
}
.topMenu ul li:nth-last-child(1)::after{
    display: none;
}

/* 리스트 내용 */
#content02 .list{
    position: relative;
}
.list .contents{
    width: calc(100% + 40px);
    margin-left: -20px;
}
.list .contents > ul{
    display: flex;
    /* width: 100%;
    height: 100%; */
}
.list .contents > ul > li{
    width: 434px;
    padding: 20px 20px 0;
    box-sizing: border-box;
    border-right: 1px solid #e5e5e5;
}
.list .contents > ul > li:last-child{
    border-right: none;
}

.list .contents > ul > li > a > .img{
    overflow: hidden;
    position: relative;
    width: 100%;
    border-radius: 20px;
}
.list .contents > ul > li > a > .img > img{
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-out;
}
.list .contents > ul > li > a > .img > img:hover{
    transform: scale(1.1);
}

.list .contents > ul > li > a > .text{
    padding: 20px 0 48px;
}
.list .contents > ul > li > a > .text > span{
    display: inline-block;
    border-radius: 16px;
    color: #fff;
    font-size: 0.825rem;
    font-weight: 600;
    padding: 6px 0.625rem;
}
.list .contents > ul > li > a > .text > span.sol{
    background-color: #fb9622;
}
.list .contents > ul > li > a > .text > span.rec{
    background-color: #0bab6d;
}
.list .contents > ul > li > a > .text > h4{
    margin: 16px 0;
    font-size: 1.625rem;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.list .contents > ul > li > a > .text > p{
    min-height: 2.875rem;
    font-size: 1.125rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.list .contents ul li ul{
    display: flex;
}
.list .contents ul li ul.type01 li{
    margin-bottom: 5px;
    margin-right: 0.625rem;
    padding: 0.625rem 16px;
    color: #666;
    font-size: 1rem;
    border-radius: 21px;
    border: solid 1px #d4d4d4;
}
.list .contents ul li ul.type02 li{
    margin-right: 0.625rem;
    padding: 0.625rem 1.125rem;
    font-size: 1rem;
    border-radius: 21px;
    background-color: #f3f3f3;
}
.list .contents ul li ul.type02 li span:nth-child(1) {
    position: relative;
    margin-right: 0.625rem;
    padding-right: 0.625rem;
    font-weight: bold;
}

.list .contents ul li ul.type02 li span:nth-child(1)::after{
    content: " ";
    position: absolute;
    width: 1px;
    height: 0.625rem;
    margin-top: 5px;
    margin-left: 10px;
    background-color: #b8b8b8;
}
