{{>layouts/header}}
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Nickname</th>
        <th scope="col">Password</th>
    </tr>
    </thead>
    <tbody>
    {{#memberList}}
        <tr>
            <th>{{id}}</th>
            <td><a href="/member/{{id}}">{{name}}</a></td>
            <td><a href="/member/{{id}}">{{nickname}}</a></td>
            <td>{{password}}</td>
        </tr>
    {{/memberList}}
    </tbody>
</table>
{{>layouts/footer}}