{{>layouts/header}}
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Nickname</th>
        <th scope="col">Password</th>
    </tr>
    </thead>
    <tbody>
    {{#member}}
        <tr>
            <th>{{id}}</th>
            <td><a href="/member/{{num}}">{{name}}</a></td>
            <td><a href="/member/{{num}}">{{nickname}}</a></td>
            <td>{{password}}</td>
        </tr>
    {{/member}}
    </tbody>
</table>

<a href="/member/{{member.num}}/edit" class="btn btn-primary">Edit</a>
<a href="/member/{{member.num}}/delete" class="btn btn-danger">Delete</a>
<a href="/member">Go to memberList</a>
{{>layouts/footer}}