@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

*{margin: 0; padding: 0; font-family: "Noto Sans KR", sans-serif;}
ul,li{list-style: none;}
a{text-decoration: none; color: #333;}

.wrap{
    width: 100%;
    margin: 0 auto;
    background: url(../images/intro_bg.png) no-repeat;
}
.contentBox{
    max-width: 1200px;
    height: 450px;
    padding: 40px 80px;
    margin: 0 auto;
    display: flex;
}
.logo{
    width: 210px;
    text-align: center;
}
.logo img{
    display: inline-block;
    margin-top: 170px;
}
.content{
    width: 830px;
    padding: 60px 0 0 80px;
}
.content .txt{
    position: relative;
}
.content .txt .bg_img{
    background: url(../images/intro_img.png) no-repeat 50% 50%;
    text-indent: -9999px;
    padding: 20px 0;
}
.content .txt p{
    text-align: center;
    font-size: 16px;
    line-height: 24px;
}
.content .txt p span{
    color: #003b5a;
    font-size: 20px;
    font-weight: 800;
}
.content .img_tab{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.content .img_tab .tab{
    width: 185px;
    height: 200px;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    margin-top: 30px;
}
.content .img_tab .tab img{
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: 0 auto;
}
.content .img_tab .tab span{
    margin-top: 25px;
    text-align: center;
    font-weight: 500;
}