{{>layouts/header}}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
        </tr>
    </thead>
    <tbody>
<!-- mustache는 여러 데이터의 묶음인 경우 안쪽내용이 반복되기 때문에
   for 문 필요없이 자동으로 반복 되어 출력된다.-->
    {{#articleList}}
        <tr>
            <th>{{id}}</th>
            <td><a href="/articles/{{id}}">{{title}}</a></td>
            <th>{{content}}</th>
        </tr>
     {{/articleList}}
    </tbody>
</table>
<a href="/articles/new">New Article</a>

{{>layouts/footer}}