@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Play:wght@400;700&display=swap');

/* reset css */
*{ margin:0; padding:0; }
ul{ list-style:none; }
a{ text-decoration:none; color:#bbb; }
img{ border:0; }

/* 풀스크린으로 동작하도록 지정(가로/세로 스크롤바 제거) */

body{
    width: 100%;
}

.vid{
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    left: 0;
    top: 0;
}

.vid video{
    width: 100%;
    min-width: 1920px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    position: fixed;
    top: 40px;
    left: 50px;
    z-index: 10;
}

header{
    position: fixed;
    width: 700px;
    height: 100%;
    background: linear-gradient(-45deg,#e6fc55, #b9fb05, #97e031);
    transform: skew(-40deg);
    left: -400px;
}

#gnb{
    width: 220px;
    position: absolute;
    right: 0;
    top: 150px;
}

#gnb > li{
    position: relative;
}
#gnb > li > a{
    display: block;
    width: 220px;
    height: 50px;
    font: bold 18px/3 play;
    /* 3은 줄간격 3배 */
    box-sizing: border-box;
    text-align: right;
    padding-right: 40px;
    color: #222;
}
#gnb em{
    display: inline-block;
    transform: skewX(40deg);
}
#gnb > li.on > a,
#gnb > li:hover > a{
    background-color: #111;
    color: #fff;
}
#gnb li ul{
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.6s;
}
/* #gnb li:nth-child(2) ul{
    visibility: visible;
} */
#gnb ul a{
    display: block;
    width: 150px;
    background: #222;
    font: bold 16px/2.5 arial;
    color: #fff;
    box-sizing: border-box;
    padding-left: 50px;
    margin-bottom: 3px;
    transition: all 0.6s;
    border-bottom: 1px solid #69fb05;
}
#gnb li:hover ul{
    left: 220px;
    opacity: 1;
    visibility: visible;
}
#gnb ul a:hover{
    background: #69fb05;
    color: #111;
}

/* sns버튼 스타일 */
#sns{
    position: fixed;
    top: 60px;
    right: 50px;
}
#sns li{
    float: left;
    margin-right: 30px;
}

#sns .fa{
    font-size: 25px;
    color: #69fb05;
    transform: scale(1);
    opacity: 0.6;
    transition: all 0.6s;
}
#sns .fa:hover{
    opacity: 1;
    transform: scale(1.2);
}